<table cellpadding="0" cellspacing="0" style="width: 100%; text-align: center;">
    <tr>
        <td style="width: 100%;">
            <!--<a href="#CommonMasterData" data-permission="coreMasterData">-->
            <a href="#CommonMasterData">
                <img alt="" src="/css/images/Auftrag_290x200-inaktiv.png" width="145" height="100" />
            </a>
            <img alt="" src="/css/images/Techpruefung_290x200-inaktiv.png" width="145" height="100" />
            <!--<a href="#DriverLicenceMasterData" data-permission="settings">-->
            <a href="#DriverLicenceMasterData">
                <img alt="" src="/css/images/Fahrerlaubnis_290x200-inaktiv.png" width="145" height="100" />
            </a>
        </td>
    </tr>
    <tr>
        <td style="width: 100%;">
            <img alt="" src="/css/images/admin_290x200-inaktiv.png" width="145" height="100" />
            <img alt="" src="/css/images/Kostenstellenverantw_290x200-inaktiv.png" width="145" height="100" />
            <!--<a href="#settings" data-permission="settings">-->
            <a href="#settings">
                <img alt="Einstellungen" src="/css/images/Einstellungen_290x200-inaktiv.png" width="145" height="100" />
            </a>
        </td>
    </tr>
</table>