<#@ import namespace="System.Collections.Generic" #>
<#@ include file="..\..\MonitoringAgent.Data\Data\Settings.ttinclude" #>
<#
    // Read schema
    var factory = GetDbProviderFactory();
    var tables = LoadTables(factory);
    
    // Generate output
    if (tables.Count > 0)
    {
        fileManager.StartHeader();

        foreach (Table tbl in from t in tables.Where(t => !t.IsMapping).OrderBy(x => x.NameHumanCase) select t)
        {
#>
<#
            fileManager.StartNewFile(tbl.NameHumanCase + FileExtension);
#>
using System;

namespace MonitoringAgent.Data.Interfaces.Entities
{
    public partial class <#=tbl.NameHumanCase #>: ISystemFields
    {
		public <#=tbl.NameHumanCase #>()
		{
			ChangeDate = CreateDate = DateTime.Now;
		}
<#			int DataMemberOrder = 1;
            foreach (Column col in tbl.Columns.OrderBy(x => x.Ordinal).Where(x => !x.Hidden))
            {
#>
        <#= WritePocoColumn(col) #>
<#
            }
			#>
	}
}
<#
        }
    }
fileManager.Process();
#>

