<div id="wrapperbody">    
    <div class="hello">
        <div id="hh">
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td style="width: 100%;"></td>
                    <td style="padding-right: 5px;">
                        <span class="userName" />
                    </td>
                    <td style="padding-right: 5px;">
                        <a data-localized="language" href="javascript:void(0)" class="language"></a>
                    </td>
                    <td style="width: 50px;">
                        <a data-localized="logout" href="javascript:void(0)" class="logout"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="leftHeader" class="head">        
        <table cellpadding="0" cellspacing="0" style="width: 100%">
            <tr>
                <td style="width: 65px; text-align: center;">
                     <a href="#home"><img alt="" src="/css/images/tuevsuedlogo.png" /></a>
                </td>
                <td style="padding-right: 5px; width: 300px;">
                    <div class="header-title-left" data-localized="masterdata_module"></div>
                    <div class="header-title-left" data-localized="monitoring_module"></div>
                    <div class="header-title-small" data-localized="for_tp_and_fe"></div>
                </td>
            </tr>
        </table>
    </div>

    <div style="clear: both">
        <ul class="menu">
            <li data-permission="home"><a href="#home" data-localized="home"></a></li>
            <li data-permission="coreMasterData"><a href="#CommonMasterData" data-localized="CommonMasterData"></a></li>
            <li data-permission="technicalInspectionMasterData"><a href="#TechnicalInspectionMasterData" data-localized="TechnicalInspectionMasterData"></a></li>
            <li data-permission="driverLicenceMasterData"><a href="#DriverLicenceMasterData" data-localized="DriverLicenceMasterData"></a></li>
            <li data-permission="settings"><a href="#settings" data-localized="settings"></a></li>
        </ul>
    </div>
    <div id="page">
        <div id="page-bgtop" class="content" style="vertical-align: top; top: 0px; padding: 15px 0px 0px 0px; margin: 0px;">
        </div>
    </div>    
</div>
