<% var title = typeof id !== 'undefined' ? '<label data-localized="edit"></label>' : '<label data-localized="add"></label>'; %>

<span class="breadcrumbs"><a href="#CommonMasterData" data-localized="commonMasterData"></a> / <a href="#EmpEmployees" data-localized="empEmployees"></a> / <%= title %></span>

<!--<h2><%= title %></h2>-->
<form method="post" class="add-model">
    <div class="inline-block name-container" style="width: 520px;">
        <div class="editor-label">
            <label for="lastName" data-localized="lastName"></label>
        </div>
        <div class="editor-field">
            <input type="text" id="lastName" name="lastName" class="k-textbox" style="width: 362px" />
        </div>
        <div class="editor-label">
            <label for="name" data-localized="name"></label>
        </div>
        <div class="editor-field">
            <input id="name" name="name" class="k-textbox" style="width: 362px" />
        </div>        
        <div class="editor-label">
            <label for="middleName" data-localized="middleName"></label>
        </div>
        <div class="editor-field">
            <input type="text" id="middleName" name="middleName" class="k-textbox" style="width: 362px" />
        </div>
        <div class="editor-label">
            <label for="personalNumber" data-localized="personalNumber"></label>
        </div>
        <div class="editor-field">
            <input type="text" id="personalNumber" name="personalNumber" class="k-textbox" style="width: 362px" />
        </div>
        <div>
            <div class="inline-block">
                <div class="editor-label">
                    <label for="fromDate" data-localized="fromDate"></label>
                </div>
                <div class="editor-field">
                    <input type="text" id="fromDate" name="fromDate" data-role="datepicker">
                </div>
            </div>
            <div class="inline-block">
                <div class="editor-label">
                    <label for="toDate" data-localized="toDate"></label>
                </div>
                <div class="editor-field">
                    <input type="text" id="toDate" name="toDate" data-role="datepicker">
                </div>
            </div>        
        </div>
    </div>

    <div class="inline-block">        
    </div>      

    <br />
    <br />

    <div class="relations-container">
    </div>

    <br />

    <div>
        <button class="k-primary k-button save" data-localized="save"></button>
        <button class="k-button remove" data-localized="delete"></button>
        <button class="k-button cancel" data-localized="cancel"></button>
    </div>
</form>
