<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li>
                    <a href="#WebServiceMonitor" data-localized="WebServiceMonitor"></a>
                </li>
                <li>
                    <a href="#JobMonitor" data-localized="JobMonitor"></a>
                </li> 
                <li>
                    <a href="#WinServiceMonitor" data-localized="WinServiceMonitor"></a>
                </li>
                <li>
                    <a href="#WebSiteMonitor" data-localized="WebSiteMonitor"></a>
                </li>
                <li>
                    <a href="#Monitoring" data-localized="Monitoring"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
