<div>
    <div style="float: left">
        <fieldset style="border: 0">
            <legend data-localized="wcfservices"></legend>
            <table id="wcfServices">
            </table>
        </fieldset>
    </div>
    <div style="float: left">
        <fieldset style="border: 0">
            <legend data-localized="sites"></legend>
            <table id="sites"></table>
        </fieldset>
    </div>
    <div style="float: left">
        <fieldset style="border: 0">
            <legend data-localized="windowsServices"></legend>
            <table id="windowsServices"></table>
        </fieldset>
    </div>
    <div style="float: left">
        <fieldset style="border: 0">
            <legend data-localized="jobs"></legend>
            <table id="jobs"></table>
        </fieldset>
    </div>
</div>