<h2 data-localized="title"></h2>
<span class="breadcrumbs"><a href="#AdminService" data-localized="AdminService"></a></span>
    <table class="settings">
        <tr>
            <td>
                <ul>
                    <li>
                        <a href="#WebServiceMonitorAdjustment" data-localized="WebServiceMonitorAdjustment"></a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th style="text-align: center"><span data-localized="WebServicesTitle"></span></th>
        </tr>
        <tr>
            <td>
                <div class="grid"></div>
            </td>
        </tr>
    </table>
