<% var title = typeof id !== 'undefined' ? '<label data-localized="edit"></label>' : '<label data-localized="add"></label>'; %>

<span class="breadcrumbs"><a href="#CommonMasterData" data-localized="masterData"></a> / 
	<a href="#OrdRecognitionTypes" data-localized="pageTitle"></a> / <%= title %></span>

<form method="post" class="add-model">
    <div class="inline-block" style="width: 520px;">
		<div class="editor-label">
			<label for="name" data-localized="name"></label>
		</div>
		<div class="editor-field">
            <input type="text" class="k-textbox" style="width: 362px" id="name" name="name" />
		</div>   
	</div>
	<div class="inline-block">        
    </div>      

    <br />
    <br />

    <div class="relations-container">
    </div>

    <br />

    <div>
        <button class="k-primary k-button save" data-localized="save"></button>
        <button class="k-button remove" data-localized="delete"></button>
        <button class="k-button cancel" data-localized="cancel"></button>
    </div>
</form>
