<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li>
                    <a href="#InsCoreDataProducts" data-localized="InsCoreDataProducts"></a>
                </li>
                <li>
                    <a href="#InsCoreDataProductGroups" data-localized="InsCoreDataProductGroups"></a>
                </li>
                <li>
                    <a href="#InsProductCombinationTypes" data-localized="InsProductCombinationTypes"></a>
                </li>
                <li>
                    <a href="#InsProductMaterialGroups" data-localized="InsProductMaterialGroups"></a>
                </li>
                <li>
                    <a href="#InsProductObjectClasses" data-localized="InsProductObjectClasses"></a>
                </li>
                <li>
                    <a href="#InsProductObjectTypes" data-localized="InsProductObjectTypes"></a>
                </li>
                <li>
                    <a href="#InsProductTypes" data-localized="InsProductTypes"></a>
                </li>
                <li>
                    <a href="#InsStatisticGroups" data-localized="InsStatisticGroups"></a>
                </li>
                <li>
                    <a href="#OrdRecognitionTypes" data-localized="OrdRecognitionTypes"></a>
                </li>
                <li>
                    <a href="#OrdRecognitions" data-localized="OrdRecognitions"></a>
                </li>
                <li>
                    <a href="#OrdRecognitionAreaOfWorkRsps" data-localized="OrdRecognitionAreaOfWorkRsps"></a>
                </li>
                <li>
                    <a href="#InsTaxCodes" data-localized="InsTaxCodes"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
