<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li>
                    <a href="#EmpEmployees" data-localized="EmpEmployees"></a>
                </li>
                <li>
                    <a href="#EmpCashPermissionTypes" data-localized="EmpCashPermissionTypes"></a>
                </li>
                <li>
                    <a href="#EmpOrgAssociationTypes" data-localized="EmpOrgAssociationTypes"></a>
                </li>
                <li>
                    <a href="#EmpEmployeeTopEmployeeRsps" data-localized="EmpEmployeeTopEmployeeRsps"></a>
                </li>
                <li>
                    <a href="#EmpEmployeeSysRoleRsps" data-localized="EmpEmployeeSysRoleRsps"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
