<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li data-permission="EmpEmployee">
                    <a href="#EmpEmployees" data-localized="EmpEmployees"></a>
                </li>
                <li data-permission="EmpCashPermissionType">
                    <a href="#EmpCashPermissionTypes" data-localized="EmpCashPermissionTypes"></a>
                </li>
                <li data-permission="EmpOrgAssociationType">
                    <a href="#EmpOrgAssociationTypes" data-localized="EmpOrgAssociationTypes"></a>
                </li>
                <li data-permission="EmpEmployeeOrgCostCenterRsp">
                    <a href="#EmpEmployeeOrgCostCenterRsps" data-localized="EmpEmployeeOrgCostCenterRsps"></a>
                </li>
                <li data-permission="EmpEmployeeOrgOrganizationalUnitRsp">
                    <a href="#EmpEmployeeOrgOrganizationalUnitRsps" data-localized="EmpEmployeeOrgOrganizationalUnitRsps"></a>
                </li>
                <li data-permission="EmpEmployeeTopEmployeeRsp">
                    <a href="#EmpEmployeeTopEmployeeRsps" data-localized="EmpEmployeeTopEmployeeRsps"></a>
                </li>
                <li data-permission="EmpEmployeeSysRoleRsp">
                    <a href="#EmpEmployeeSysRoleRsps" data-localized="EmpEmployeeSysRoleRsps"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
