<% var title = typeof id !== 'undefined' ? '<label data-localized="edit"></label>' : '<label data-localized="add"></label>'; %>

<span class="breadcrumbs"><a href="#commonMasterData" data-localized="commonMasterData"></a> / 
	<a href="#OrdOrderCancelationReasons" data-localized="OrdOrderCancelationReasons"></a> / <%= title %></span>

<form method="post" class="add-model">
    <div class="inline-block" style="width: 520px;">
		<div class="editor-label">
			<label for="cancelationReasonText" data-localized="cancelationReasonText"></label>
		</div>
		<div class="editor-field">
            <textarea type="text" class="k-textbox" style="width: 362px" id="cancelationReasonText" name="cancelationReasonText" />
		</div>   
	</div>
	<div class="inline-block">        
    </div>      

    <br />
    <br />

    <div class="relations-container">
    </div>

    <br />

    <div>
        <button class="k-primary k-button save" data-localized="save"></button>
        <button class="k-button remove" data-localized="delete"></button>
        <button class="k-button cancel" data-localized="cancel"></button>
    </div>
</form>
