<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li>
                    <a href="#SysLanguages" data-localized="SysLanguages"></a>
                </li>
                <li>
                    <a href="#SysLocations" data-localized="SysLocations"></a>
                </li>
                <li>
                    <a href="#SysRoles" data-localized="SysRoles"></a>
                </li>
                <li>
                    <a href="#SysRoleSysPermissionRsps" data-localized="SysRoleSysPermissionRsps"></a>
                </li>
                <li>
                    <a href="#OrdFederalGroups" data-localized="OrdFederalGroups"></a>
                </li>
                <li>
                    <a href="#OrdFederalStates" data-localized="OrdFederalStates"></a>
                </li>
                <li>
                    <a href="#SysCountries" data-localized="SysCountries"></a>
                </li>
                <li>
                    <a href="#SysPostCodes" data-localized="SysPostCodes"></a>
                </li>
                <li>
                    <a href="#OrdOrderCancelationReasons" data-localized="OrdOrderCancelationReasons"></a>
                </li>
                <li>
                    <a href="#KssExpenseGrounds" data-localized="KssExpenseGrounds"></a>
                </li>
                <li>
                    <a href="#ExpPassengersTypes" data-localized="ExpPassengersTypes"></a>
                </li>
                <li>
                    <a href="#InsVatTypes" data-localized="InsVatTypes"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
