<#@ import namespace="System.Collections.Generic" #>
<#@ include file="..\Settings.ttinclude" #>
<#
    // Read schema
    var factory = GetDbProviderFactory();
    var tables = LoadTables(factory);
    
    // Generate output
    if (tables.Count > 0)
    {
        fileManager.StartHeader();

        foreach (Table tbl in from t in tables.Where(t => !t.IsMapping).OrderBy(x => x.NameHumanCase) select t)
        {
#>
<#
            var managerName = tbl.NameHumanCase + "Manager";
            fileManager.StartNewFile(managerName + FileExtension);
#>

using MonitoringAgent.Data.Interfaces.Entities;
using MonitoringAgent.Data.Interfaces.Managers;

namespace MonitoringAgent.Common.Data.Managers
{
    public partial class <#=managerName #>: BaseManager<<#=tbl.NameHumanCase #>>, I<#=managerName #>
    {
		public <#=managerName #>(DbContextProvider contextProvider): base(contextProvider)
		{
		}
	}
}
<#
        }
    }
fileManager.Process();
#>

