<% var title = typeof id !== 'undefined' ? '<label data-localized="edit"></label>' : '<label data-localized="add"></label>'; %>

<span class="breadcrumbs"><a href="#DriverLicenceMasterData" data-localized="driverLicenceMasterData"></a> / <a href="#LegalBasises" data-localized="legalBasises"></a> / <%= title %></span>

<!--<h2><%= title %></h2>-->
<form method="post" class="add-model">
    <div class="inline-block" style="width: 50%;">
        <div class="editor-label">
            <label for="name" data-localized="name"></label>
        </div>
        <div class="editor-field">
            <input type="text" id="name" name="name" class="k-textbox" style="width: 362px" />
        </div>
        <div class="editor-label">
            <label for="description" data-localized="description"></label>
        </div>
        <div class="editor-field">
            <textarea id="description" name="description" class="k-textbox" style="width: 362px" />
        </div>
        <div class="inline-block">
            <div class="editor-label">
                <label for="fromDate" data-localized="fromDate"></label>
            </div>
            <div class="editor-field">
                <input type="text" id="fromDate" name="fromDate" data-role="datepicker">
            </div>
        </div>
        <div class="inline-block">
            <div class="editor-label">
                <label for="toDate" data-localized="toDate"></label>
            </div>
            <div class="editor-field">
                <input type="text" id="toDate" name="toDate" data-role="datepicker">
            </div>
        </div>
        <div class="editor-label">
            <label for="isAttestationRequired" data-localized="isAttestationRequired"></label>
            <input type="checkbox" id="isAttestationRequired" name="isAttestationRequired"> 
        </div>
        <div class="editor-label">
            <label for="isFirstAssignation" data-localized="isFirstAssignation"></label>
            <select id="isFirstAssignation" name="isFirstAssignation" />
        </div>
    </div>
    <div class="inline-block">
        <div class="editor-label">
            <label for="replacementId" data-localized="replacementId"></label><br />
            <select id="replacementId" name="replacementId" style="width: 362px"  />
        </div>
        <div class="editor-label">
            <label for="messageReason" data-localized="messageReason"></label>
        </div>
        <div class="editor-field">
            <input type="text" id="messageReason" name="messageReason" class="k-textbox" style="width: 362px" />
        </div>
        <div class="editor-label">
            <label for="messageReasonStyle" data-localized="messageReasonStyle"></label>
        </div>
        <div class="editor-field">
            <input type="text" id="messageReasonStyle" name="messageReasonStyle" class="k-textbox" style="width: 362px" />
        </div>
        <div class="editor-label">
            <label for="printName" data-localized="printName"></label>
        </div>
        <div class="editor-field">
            <input type="text" id="printName" name="printName" class="k-textbox" style="width: 362px" />
        </div>
    </div>

    <br />
    <br />

    <div class="relations-container">
    </div>

    <br />

    <div>
        <button class="k-primary k-button save" data-localized="save"></button>
        <button class="k-button remove" data-localized="delete"></button>
        <button class="k-button cancel" data-localized="cancel"></button>
    </div>
</form>
