<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li>
                    <a href="#OrdBillingParameters" data-localized="OrdBillingParameters"></a>
                </li>
                <li>
                    <a href="#OrdContactPersonFunctions" data-localized="OrdContactPersonFunctions"></a>
                </li>
                <li>
                    <a href="#OrdCustomerInfos" data-localized="OrdCustomerInfos"></a>
                </li>
                <li>
                    <a href="#OrdPartnerRoles" data-localized="OrdPartnerRoles"></a>
                </li>
                <li>
                    <a href="#InsTaxClasses" data-localized="InsTaxClasses"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
