<#@ import namespace="System.Collections.Generic" #>
<#@ include file="..\..\MonitoringAgent.Data\Data\Settings.ttinclude" #>
<#
    // Read schema
    var factory = GetDbProviderFactory();
    var tables = LoadTables(factory);
    
    // Generate output
    if (tables.Count > 0)
    {
        fileManager.StartHeader();

        foreach (Table tbl in from t in tables.Where(t => !t.IsMapping).OrderBy(x => x.NameHumanCase) select t)
        {
#>
<#
            var managerName = "I" + tbl.NameHumanCase + "Manager";
            fileManager.StartNewFile(managerName + FileExtension);
#>

using MonitoringAgent.Data.Interfaces.Entities;

namespace MonitoringAgent.Data.Interfaces.Managers
{
    public partial interface <#=managerName #>: IBaseManager<<#=tbl.NameHumanCase #>>
    {
	}
}
<#
        }
    }
fileManager.Process();
#>

