<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MasterDataMonitoringModelContainer" connectionString="metadata=res://*/Data.MasterDataMonitoringModel.csdl|res://*/Data.MasterDataMonitoringModel.ssdl|res://*/Data.MasterDataMonitoringModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SettingsData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>