<% var title = typeof id !== 'undefined' ? '<label data-localized="edit"></label>' : '<label data-localized="add"></label>'; %>

<span class="breadcrumbs"><a href="#Settings" data-localized="masterData"></a> / 
	<a href="#MasterDataMonitorableInfoMasterDataNotificationsRsps" data-localized="pageTitle"></a> / <%= title %></span>

<form method="post" class="add-model">
    <div class="inline-block" style="width: 520px;">
		<div class="editor-label">
			<label for="monitorableInfoType" data-localized="monitorableInfoType"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="monitorableInfoType" name="monitorableInfoType" />
		</div>   
		<div class="editor-label">
			<label for="monitorableInfoId" data-localized="monitorableInfoId"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="monitorableInfoId" name="monitorableInfoId" />
		</div>   
		<div class="editor-label">
			<label for="masterDataNotificationsId" data-localized="masterDataNotificationsId"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="masterDataNotificationsId" name="masterDataNotificationsId" />
		</div>   
	</div>
	<div class="inline-block">        
    </div>      

    <br />
    <br />

    <div class="relations-container">
    </div>

    <br />

    <div>
        <button class="k-primary k-button save" data-localized="save"></button>
        <button class="k-button remove" data-localized="delete"></button>
        <button class="k-button cancel" data-localized="cancel"></button>
    </div>
</form>
