<% var title = typeof id !== 'undefined' ? '<label data-localized="edit"></label>' : '<label data-localized="add"></label>'; %>

<span class="breadcrumbs"><a href="#Settings" data-localized="masterData"></a> / 
	<a href="#MasterDataWcfInfos" data-localized="pageTitle"></a> / <%= title %></span>

<form method="post" class="add-model">
    <div class="inline-block" style="width: 520px;">
		<div class="editor-label">
			<label for="name" data-localized="name"></label>
		</div>
		<div class="editor-field">
            <input type="text" class="k-textbox" style="width: 362px" id="name" name="name" />
		</div>   
		<div class="editor-label">
			<label for="wsdlPath" data-localized="wsdlPath"></label>
		</div>
		<div class="editor-field">
            <input type="text" class="k-textbox" style="width: 362px" id="wsdlPath" name="wsdlPath" />
		</div>   
		<div class="editor-label">
			<label for="timeoutChecking" data-localized="timeoutChecking"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="timeoutChecking" name="timeoutChecking" />
		</div>   
		<div class="editor-label">
			<label for="fromDate" data-localized="fromDate"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="datepicker" id="fromDate" name="fromDate" />
		</div>   
		<div class="editor-label">
			<label for="toDate" data-localized="toDate"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="datepicker" id="toDate" name="toDate" />
		</div>   
		<div class="editor-label">
			<label for="logTypeInfoId" data-localized="logTypeInfoId"></label>
		</div>
		<div class="editor-field">
            <select  id="logTypeInfoId" name="logTypeInfoId" />
		</div>   
	</div>
	<div class="inline-block">        
    </div>      

    <br />
    <br />

    <div class="relations-container">
    </div>

    <br />

    <div>
        <button class="k-primary k-button save" data-localized="save"></button>
        <button class="k-button remove" data-localized="delete"></button>
        <button class="k-button cancel" data-localized="cancel"></button>
    </div>
</form>
