<% var title = typeof id !== 'undefined' ? '<label data-localized="edit"></label>' : '<label data-localized="add"></label>'; %>

<span class="breadcrumbs"><a href="#Settings" data-localized="masterData"></a> / 
	<a href="#MasterDataNotifications" data-localized="pageTitle"></a> / <%= title %></span>

<form method="post" class="add-model">
    <div class="inline-block" style="width: 520px;">
		<div class="editor-label">
			<label for="notificationType" data-localized="notificationType"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="notificationType" name="notificationType" />
		</div>   
		<div class="editor-label">
			<label for="isAlertOn" data-localized="isAlertOn"></label>
            <input type="checkbox" id="isAlertOn" name="isAlertOn" />
		</div>   
		<div class="editor-label">
			<label for="alertCheckStatus" data-localized="alertCheckStatus"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="alertCheckStatus" name="alertCheckStatus" />
		</div>   
		<div class="editor-label">
			<label for="alertAttemptCount" data-localized="alertAttemptCount"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="alertAttemptCount" name="alertAttemptCount" />
		</div>   
		<div class="editor-label">
			<label for="message" data-localized="message"></label>
		</div>
		<div class="editor-field">
            <input type="text" class="k-textbox" style="width: 362px" id="message" name="message" />
		</div>   
		<div class="editor-label">
			<label for="subject" data-localized="subject"></label>
		</div>
		<div class="editor-field">
            <input type="text" class="k-textbox" style="width: 362px" id="subject" name="subject" />
		</div>   
	</div>
	<div class="inline-block">        
    </div>      

    <br />
    <br />

    <div class="relations-container">
    </div>

    <br />

    <div>
        <button class="k-primary k-button save" data-localized="save"></button>
        <button class="k-button remove" data-localized="delete"></button>
        <button class="k-button cancel" data-localized="cancel"></button>
    </div>
</form>
