<form method="post" class="add-model">
    <div class="editor-label">
        <label for="name" data-localized="name"></label>
    </div>
    <div class="editor-field">
        <input type="text" id="name" name="name" class="k-textbox" style="width: 263px;">
    </div>
    <div class="editor-label">
        <label for="permissions" data-localized="permissions"></label>
    </div>
    <div class="editor-field">
        <select id="permissions" name="permissions" data-role="selectbox" multiple />
    </div>
    <button class="k-primary k-button" type="submit" data-localized="add"></button>
    <button class="k-button" type="reset" data-localized="cancel"></button>
</form>