<form method="post" class="add-model">
    <div class="editor-label" data-localized="login">
        <label for="login"></label>
    </div>
    <div class="editor-field" >
        <input type="text" id="login" name="login" class="k-textbox"autocomplete="off" style="width: 263px;">
    </div>
    <div class="editor-label">
        <label for="password" data-localized="password" autocomplete="off"></label>
    </div>
    <div class="editor-field">
        <input type="password" id="password" name="password" class="k-textbox" style="width: 263px;">
    </div>
    <div class="editor-label">
        <label for="passwordConfirmation" data-localized="passwordConfirmation" autocomplete="off"></label>
    </div>
    <div class="editor-field">
        <input type="password" id="passwordConfirmation" name="passwordConfirmation" class="k-textbox" style="width: 263px;">
    </div>
    <div class="editor-label">
        <label for="name" data-localized="name"></label>
    </div>
    <div class="editor-field">
        <input type="text" id="name" name="name" class="k-textbox" style="width: 263px;">
    </div>
    <div class="editor-label">
        <label for="role" data-localized="role"></label>
    </div>
    <div class="editor-field">
        <select id="role" name="role" style="width: 263px;" />
    </div>
    <button class="k-primary k-button" type="submit" data-localized="add"></button>
    <button class="k-button" type="reset" data-localized="cancel"></button>
</form>