<form method="post" class="add-model">
    <div class="editor-label">
        <label for="monitorableInfoType" id="passwordTitle" autocomplete="off"></label>
    </div>
    <div class="editor-field">
        <select id="monitorableInfoType" name="monitorableInfoType" style="width: 363px;" />
</div>
    <div class="editor-label">
        <label for="monitorableInfoId" id="passwordConfirmationTitle" autocomplete="off"></label>
    </div>
    <div class="editor-field">
        <select id="monitorableInfoId" name="monitorableInfoId" style="width: 363px;" />
</div>   
    <button class="k-primary k-button" id="change" type="submit"></button>
    <button class="k-button" id="cancel" type="reset"></button>
</form>