<form method="post" class="add-model">
    <div class="editor-label">
        <label for="monitorableInfoTypeTitle" id="monitorableInfoTypeTitle" autocomplete="off"></label>
    </div>
    <div class="editor-field">
        <select id="monitorableInfoType" name="monitorableInfoType" />
    </div>
    <div class="editor-label">
        <label for="monitorableInfoIdTitle" id="monitorableInfoIdTitle" autocomplete="off"></label>
    </div>
    <div class="editor-field">
        <select id="monitorableInfoId" name="monitorableInfoId" />
    </div>
    <div class="editor-label">
        <label for="masterDataNotificationsIdTitle" id="masterDataNotificationsIdTitle" autocomplete="off"></label>
    </div>
    <div class="editor-field">
        <select id="masterDataNotificationsId" name="masterDataNotificationsId" />
    </div>   
    <button class="k-primary k-button" id="select" type="submit"></button>
    <button class="k-button" id="cancel" type="reset"></button>
</form>