<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li data-permission="MasterDataJobInfo">
                    <a href="#MasterDataJobInfos" data-localized="MasterDataJobInfos"></a>
                </li>
                <li data-permission="MasterDataWindowsServiceInfo">
                    <a href="#MasterDataWindowsServiceInfos" data-localized="MasterDataWindowsServiceInfos"></a>
                </li>
                <li data-permission="Role">
                    <a href="#Roles" data-localized="Roles"></a>
                </li>
                <li data-permission="Permission">
                    <a href="#Permissions" data-localized="Permissions"></a>
                </li>
                <li data-permission="User">
                    <a href="#Users" data-localized="Users"></a>
                </li>
                <li data-permission="MasterDataSubscribers">
                    <a href="#MasterDataSubscribers" data-localized="MasterDataSubscribers"></a>
                </li>
                <li data-permission="MasterDataNotifications">
                    <a href="#MasterDataNotifications" data-localized="MasterDataNotifications"></a>
                </li>
                <li data-permission="MasterDataMonitorableInfoMasterDataNotificationsRsp">
                    <a href="#MasterDataMonitorableInfoMasterDataNotificationsRsps" data-localized="MasterDataMonitorableInfoMasterDataNotificationsRsps"></a>
                </li>
                <li data-permission="SysTable">
                    <a href="#SysTables" data-localized="SysTables"></a>
                </li>
                <li data-permission="MasterDataWcfInfo">
                    <a href="#MasterDataWcfInfos" data-localized="MasterDataWcfInfos"></a>
                </li>
                <li data-permission="MasterDataSiteInfo">
                    <a href="#MasterDataSiteInfos" data-localized="MasterDataSiteInfos"></a>
                </li>
                <li data-permission="LogTypeInfo">
                    <a href="#LogTypeInfos" data-localized="LogTypeInfos"></a>
                </li>
                <li data-permission="MasterDataMonitorState">
                    <a href="#MasterDataMonitorStates" data-localized="MasterDataMonitorStates"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
