<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
				<% if (Application.hasPermission('Role')) { %>
                <li>
                    <a href="#Roles" data-localized="Roles"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('Permission')) { %>
                <li>
                    <a href="#Permissions" data-localized="Permissions"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('SysTable')) { %>
                <li>
                    <a href="#SysTables" data-localized="SysTables"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('User')) { %>
                <li>
                    <a href="#Users" data-localized="Users"></a>
                </li>
				<%}%>
			</ul>
        </td>
    </tr>
</table>
