<h2 data-localized="title"></h2>
<table class="settings">
    <tr>
        <td>
            <ul>
                <li>
                    <label data-localized="administration"></label>
                    <ul>
                        <li data-permission="permissions">
                            <a href="#permissions" data-localized="permissions"></a>
                        </li>
                        <li data-permission="roles">
                            <a href="#roles" data-localized="roles"></a>
                        </li>
                        <li data-permission="users">
                            <a href="#users" data-localized="users"></a>
                        </li>
                    </ul>
                </li>             
                <li>
                    <label data-localized="system"></label>
                    <ul>
                        <li data-permission="systemLog" data-localized="systemLog">
                            <a href="#system-log" data-localized="systemLog"></a>
                        </li>
                        <li data-permission="sysTables">
                            <a href="#sysTables" data-localized="sysTables"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </td>
        <td>
            
        </td>
    </tr>
</table>