<div class="tab-strip">
    <ul>
        <li class="k-state-active required-exam-classes-header" data-localized="requiredExamClasses:a">Voraussetzungsklassen</li>
        <li class="inclusive-exam-classes-header" data-localized="inclusiveExamClasses:a">Inklusivklassen</li>
        <li class="inclusive-exam-classes-header" data-localized="products:a">Klassen/Rechtsgründe</li>
    </ul>
    <div class="requiredExamClasses">Voraussetzungsklassen</div>
    <div class="inclusiveExamClasses">Inklusivklassen</div>
    <div class="products">Klassen/Rechtsgründe</div>
</div>