CREATE VIEW [dbo].[GET_APPLICATION_LOGS] 
AS
SELECT 
	 res.ID
	,res.LOG_LEVEL
	,res.[DATE] AS MESSAGE_DATE
	,res.[MESSAGE]
	,inf.[FILE_NAME]	
	,res.DELETE_DATE
	,res.CREATE_DATE
	,res.CHANGE_DATE
	,res.LOG_TYPE_INFO_ID
FROM 
	dbo.APPLICATION_LOGS res INNER JOIN
	dbo.LOG_TYPE_INFO inf ON res.LOG_TYPE_INFO_ID = inf.ID
GO