<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li>
                    <a href="#InsNextSpIntervals" data-localized="InsNextSpIntervals"></a>
                </li>
                <li>
                    <a href="#InsObdStatuses" data-localized="InsObdStatuses"></a>
                </li>
                <li>
                    <a href="#InsOpticalDefects" data-localized="InsOpticalDefects"></a>
                </li>
                <li>
                    <a href="#InsProductClassGroups" data-localized="InsProductClassGroups"></a>
                </li>
                <li>
                    <a href="#InsSeverityTypes" data-localized="InsSeverityTypes"></a>
                </li>
                <li>
                    <a href="#InsValidPeriods" data-localized="InsValidPeriods"></a>
                </li>
                <li>
                    <a href="#InsPfpPositions" data-localized="InsPfpPositions"></a>
                </li>
                <li>
                    <a href="#InsPfpInspectionTypePfpPositionRsps" data-localized="InsPfpInspectionTypePfpPositionRsps"></a>
                </li>
                <li>
                    <a href="#InsPfpVehicleTypes" data-localized="InsPfpVehicleTypes"></a>
                </li>
                <li>
                    <a href="#InsUnitCodes" data-localized="InsUnitCodes"></a>
                </li>
                <li>
                    <a href="#InsInspectionSteps" data-localized="InsInspectionSteps"></a>
                </li>
                <li>
                    <a href="#InsAvailableInspectionSteps" data-localized="InsAvailableInspectionSteps"></a>
                </li>
                <li>
                    <a href="#InsSummaryFields" data-localized="InsSummaryFields"></a>
                </li>
                <li>
                    <a href="#InsNextInspections" data-localized="InsNextInspections"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
