<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
				<% if (Application.hasPermission('InsNextSpInterval')) { %>
                <li>
                    <a href="#InsNextSpIntervals" data-localized="InsNextSpIntervals"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsObdStatus')) { %>
                <li>
                    <a href="#InsObdStatuses" data-localized="InsObdStatuses"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsOpticalDefect')) { %>
                <li>
                    <a href="#InsOpticalDefects" data-localized="InsOpticalDefects"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsProductClassGroup')) { %>
                <li>
                    <a href="#InsProductClassGroups" data-localized="InsProductClassGroups"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsSeverityType')) { %>
                <li>
                    <a href="#InsSeverityTypes" data-localized="InsSeverityTypes"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsValidPeriod')) { %>
                <li>
                    <a href="#InsValidPeriods" data-localized="InsValidPeriods"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsPfpPosition')) { %>
                <li>
                    <a href="#InsPfpPositions" data-localized="InsPfpPositions"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsPfpInspectionTypePfpPositionRsp')) { %>
                <li>
                    <a href="#InsPfpInspectionTypePfpPositionRsps" data-localized="InsPfpInspectionTypePfpPositionRsps"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsPfpVehicleType')) { %>
                <li>
                    <a href="#InsPfpVehicleTypes" data-localized="InsPfpVehicleTypes"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsUnitCode')) { %>
                <li>
                    <a href="#InsUnitCodes" data-localized="InsUnitCodes"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsInspectionStep')) { %>
                <li>
                    <a href="#InsInspectionSteps" data-localized="InsInspectionSteps"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsAvailableInspectionStep')) { %>
                <li>
                    <a href="#InsAvailableInspectionSteps" data-localized="InsAvailableInspectionSteps"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsSummaryField')) { %>
                <li>
                    <a href="#InsSummaryFields" data-localized="InsSummaryFields"></a>
                </li>
				<%}%>
				<% if (Application.hasPermission('InsNextInspection')) { %>
                <li>
                    <a href="#InsNextInspections" data-localized="InsNextInspections"></a>
                </li>
				<%}%>
			</ul>
        </td>
    </tr>
</table>
