<form method="post" class="add-model">
    <div class="editor-label">
        <label for="inclusiveExamClassId" data-localized="inclusiveExamClass"></label>
    </div>
    <div class="editor-field">
        <select id="inclusiveExamClassId" name="inclusiveExamClassId" style="width: 363px;" />
    </div>   
    <div class="inline-block">
        <div class="editor-label">
            <label for="fromDate" data-localized="fromDate"></label>
        </div>
        <div class="editor-field">
            <input type="text" id="fromDate" name="fromDate" data-role="datepicker">
        </div>
    </div>
    <div class="inline-block">
        <div class="editor-label">
            <label for="toDate" data-localized="toDate"></label>
        </div>
        <div class="editor-field">
            <input type="text" id="toDate" name="toDate" data-role="datepicker">
        </div>
    </div>
    <div class="editor-label">
        <label for="isConditional" data-localized="isConditional"></label>
        <input type="checkbox" id="isConditional" name="isConditional"> 
    </div>
    <div>
        <button class="k-primary k-button" type="submit">Hinzufügen</button>
        <button class="k-button" type="reset">Abbruch</button>
    </div>
</form>
