<#@ template language="C#" debug="true" hostspecific="true" linePragmas="true"#>
<#@ output extension=".txt"#>
<#@ include file="..\..\..\..\Generation\MasterDataModule.Generation\TTMasterData\AsPro.Settings.ttinclude" once="true"#>
<# 
    const string filesDir = @"..\..\..\..\Generation\MasterDataModule.Generation\Declarations\";
    tableGroup = "Common";
    defaultNamespace = "MasterDataModule.Lib.Managers";
#>
<#@ include file="..\..\..\..\Generation\MasterDataModule.Generation\TTMasterData\MasterData.GenerationContext.ttinclude" once="true"#>
<#@ include file="..\..\..\..\Generation\MasterDataModule.Generation\TTMasterData\Manager.ttinclude"  once="true"#>