<% var title = typeof id !== 'undefined' ? '<label data-localized="edit"></label>' : '<label data-localized="add"></label>'; %>

<span class="breadcrumbs"><a href="#CommonMasterData" data-localized="masterData"></a> / 
	<a href="#OrgCostCenterPrices" data-localized="pageTitle"></a> / <%= title %></span>

<form method="post" class="add-model">
    <div class="inline-block" style="width: 520px;">
		<div class="editor-label">
			<label for="insCoreDataProductId" data-localized="insCoreDataProductId"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="insCoreDataProductId" name="insCoreDataProductId" />
		</div>   
		<div class="editor-label">
			<label for="salesOffice" data-localized="salesOffice"></label>
		</div>
		<div class="editor-field">
            <input type="text" class="k-textbox" style="width: 362px" id="salesOffice" name="salesOffice" />
		</div>   
		<div class="editor-label">
			<label for="minPrice" data-localized="minPrice"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="minPrice" name="minPrice" />
		</div>   
		<div class="editor-label">
			<label for="maxPrice" data-localized="maxPrice"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="maxPrice" name="maxPrice" />
		</div>   
		<div class="editor-label">
			<label for="standartPrice" data-localized="standartPrice"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="standartPrice" name="standartPrice" />
		</div>   
		<div class="editor-label">
			<label for="quantity" data-localized="quantity"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="quantity" name="quantity" />
		</div>   
		<div class="editor-label">
			<label for="unitOfMeasure" data-localized="unitOfMeasure"></label>
		</div>
		<div class="editor-field">
            <input type="text" class="k-textbox" style="width: 362px" id="unitOfMeasure" name="unitOfMeasure" />
		</div>   
		<div class="editor-label">
			<label for="sysCurrencyId" data-localized="sysCurrencyId"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="sysCurrencyId" name="sysCurrencyId" />
		</div>   
		<div class="editor-label">
			<label for="changeAbilityType" data-localized="changeAbilityType"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="changeAbilityType" name="changeAbilityType" />
		</div>   
	</div>
	<div class="inline-block">        
    </div>      

    <br />
    <br />

    <div class="relations-container">
    </div>

    <br />

    <div>
        <button class="k-primary k-button save" data-localized="save"></button>
        <button class="k-button remove" data-localized="delete"></button>
        <button class="k-button cancel" data-localized="cancel"></button>
    </div>
</form>
