<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li data-permission="OrgAccountType">
                    <a href="#OrgAccountTypes" data-localized="OrgAccountTypes"></a>
                </li>
                <li data-permission="OrgAccountingArea">
                    <a href="#OrgAccountingAreas" data-localized="OrgAccountingAreas"></a>
                </li>
                <li data-permission="OrgBankInformation">
                    <a href="#OrgBankInformation" data-localized="OrgBankInformation"></a>
                </li>
                <li data-permission="OrgCostCenter">
                    <a href="#OrgCostCenters" data-localized="OrgCostCenters"></a>
                </li>
                <li data-permission="OrgCostCenterResponsibleEmployeeRsp">
                    <a href="#OrgCostCenterResponsibleEmployeeRsps" data-localized="OrgCostCenterResponsibleEmployeeRsps"></a>
                </li>
                <li data-permission="OrgCostCenterPrice">
                    <a href="#OrgCostCenterPrices" data-localized="OrgCostCenterPrices"></a>
                </li>
                <li data-permission="OrgRelationshipType">
                    <a href="#OrgRelationshipTypes" data-localized="OrgRelationshipTypes"></a>
                </li>
                <li data-permission="OrgInformation">
                    <a href="#OrgInformation" data-localized="OrgInformation"></a>
                </li>
                <li data-permission="OrgType">
                    <a href="#OrgTypes" data-localized="OrgTypes"></a>
                </li>
                <li data-permission="OrgInspectionDevice">
                    <a href="#OrgInspectionDevices" data-localized="OrgInspectionDevices"></a>
                </li>
                <li data-permission="OrgOrganizationalUnit">
                    <a href="#OrgOrganizationalUnits" data-localized="OrgOrganizationalUnits"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
