<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li>
                    <a href="#OrgAccountTypes" data-localized="OrgAccountTypes"></a>
                </li>
                <li>
                    <a href="#OrgAccountingAreas" data-localized="OrgAccountingAreas"></a>
                </li>
                <li>
                    <a href="#OrgBankInformation" data-localized="OrgBankInformation"></a>
                </li>
                <li>
                    <a href="#OrgCostCenters" data-localized="OrgCostCenters"></a>
                </li>
                <li>
                    <a href="#OrgCostCenterPrices" data-localized="OrgCostCenterPrices"></a>
                </li>
                <li>
                    <a href="#OrgRelationshipTypes" data-localized="OrgRelationshipTypes"></a>
                </li>
                <li>
                    <a href="#OrgInformation" data-localized="OrgInformation"></a>
                </li>
                <li>
                    <a href="#OrgTypes" data-localized="OrgTypes"></a>
                </li>
                <li>
                    <a href="#OrgInspectionDevices" data-localized="OrgInspectionDevices"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
