<% var title = typeof id !== 'undefined' ? '<label data-localized="edit"></label>' : '<label data-localized="add"></label>'; %>

<span class="breadcrumbs"><a href="#DriverLicenceMasterData" data-localized="masterData"></a> / 
	<a href="#Authorities" data-localized="pageTitle"></a> / <%= title %></span>

<form method="post" class="add-model">
    <div class="inline-block" style="width: 520px;">
		<div class="editor-label">
			<label for="authorityNumber" data-localized="authorityNumber"></label>
		</div>
		<div class="editor-field">
            <input type="text" class="k-textbox" style="width: 362px" id="authorityNumber" name="authorityNumber" />
			<span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="modelName" role="alert"></span>
		</div>   
		<div class="editor-label">
			<label for="name" data-localized="name"></label>
		</div>
		<div class="editor-field">
            <textarea type="text" class="k-textbox" style="width: 362px" id="name" name="name" />
		</div>   
		<div class="editor-label">
			<label for="description" data-localized="description"></label>
		</div>
		<div class="editor-field">
            <textarea type="text" class="k-textbox" style="width: 362px" id="description" name="description" />
		</div>   
		<div class="editor-label">
			<label for="isCertificateRequired" data-localized="isCertificateRequired"></label>
            <input type="checkbox" id="isCertificateRequired" name="isCertificateRequired" />
		</div>   
		<div class="editor-label">
			<label for="returnType" data-localized="returnType"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="returnType" name="returnType" />
		</div>   
		<div class="editor-label">
			<label for="fromDate" data-localized="fromDate"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="datepicker" id="fromDate" name="fromDate" />
		</div>   
		<div class="editor-label">
			<label for="toDate" data-localized="toDate"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="datepicker" id="toDate" name="toDate" />
		</div>   
		<div class="editor-label">
			<label for="name2" data-localized="name2"></label>
		</div>
		<div class="editor-field">
            <textarea type="text" class="k-textbox" style="width: 362px" id="name2" name="name2" />
		</div>   
		<div class="editor-label">
			<label for="streetHouseNumber" data-localized="streetHouseNumber"></label>
		</div>
		<div class="editor-field">
            <textarea type="text" class="k-textbox" style="width: 362px" id="streetHouseNumber" name="streetHouseNumber" />
		</div>   
		<div class="editor-label">
			<label for="zipCode" data-localized="zipCode"></label>
		</div>
		<div class="editor-field">
            <textarea type="text" class="k-textbox" style="width: 362px" id="zipCode" name="zipCode" />
		</div>   
		<div class="editor-label">
			<label for="city" data-localized="city"></label>
		</div>
		<div class="editor-field">
            <textarea type="text" class="k-textbox" style="width: 362px" id="city" name="city" />
		</div>   
		<div class="editor-label">
			<label for="sysCountryId" data-localized="sysCountryId"></label>
		</div>
		<div class="editor-field">
            <select  id="sysCountryId" name="sysCountryId" />
		</div>   
		<div class="editor-label">
			<label for="phone1" data-localized="phone1"></label>
		</div>
		<div class="editor-field">
            <textarea type="text" class="k-textbox" style="width: 362px" id="phone1" name="phone1" />
		</div>   
		<div class="editor-label">
			<label for="phone2" data-localized="phone2"></label>
		</div>
		<div class="editor-field">
            <textarea type="text" class="k-textbox" style="width: 362px" id="phone2" name="phone2" />
		</div>   
		<div class="editor-label">
			<label for="fax" data-localized="fax"></label>
		</div>
		<div class="editor-field">
            <textarea type="text" class="k-textbox" style="width: 362px" id="fax" name="fax" />
		</div>   
	</div>
	<div class="inline-block">        
    </div>      

    <br />
    <br />

    <div class="relations-container">
    </div>

    <br />

    <div>
        <button class="k-primary k-button save" data-localized="save"></button>
        <button class="k-button remove" data-localized="delete"></button>
        <button class="k-button cancel" data-localized="cancel"></button>
    </div>
</form>
