<% var title = typeof id !== 'undefined' ? '<label data-localized="edit"></label>' : '<label data-localized="add"></label>'; %>

<span class="breadcrumbs"><a href="#driverLicenceMasterData" data-localized="driverLicenceMasterData"></a> / 
	<a href="#ExamClassArgeMaps" data-localized="ExamClassArgeMaps"></a> / <%= title %></span>

<form method="post" class="add-model">
    <div class="inline-block" style="width: 520px;">
		<div class="editor-label">
			<label for="examNameArge" data-localized="examNameArge"></label>
		</div>
		<div class="editor-field">
            <input type="text" class="k-textbox" style="width: 362px" id="examNameArge" name="examNameArge" />
		</div>   
		<div class="editor-label">
			<label for="examClassId" data-localized="examClassId"></label>
		</div>
		<div class="editor-field">
            <input type="text" data-role="numerictextbox" id="examClassId" name="examClassId" />
		</div>   
	</div>
	<div class="inline-block">        
    </div>      

    <br />
    <br />

    <div class="relations-container">
    </div>

    <br />

    <div>
        <button class="k-primary k-button save" data-localized="save"></button>
        <button class="k-button remove" data-localized="delete"></button>
        <button class="k-button cancel" data-localized="cancel"></button>
    </div>
</form>
