<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li>
                    <a href="#MessageLocalizations" data-localized="MessageLocalizations"></a>
                </li>
                <li>
                    <a href="#ReturnReasons" data-localized="ReturnReasons"></a>
                </li>
                <li>
                    <a href="#ExamPossibleResults" data-localized="ExamPossibleResults"></a>
                </li>
                <li>
                    <a href="#SchoolInfos" data-localized="SchoolInfos"></a>
                </li>
                <li>
                    <a href="#ArgeVersions" data-localized="ArgeVersions"></a>
                </li>
                <li>
                    <a href="#Authorities" data-localized="Authorities"></a>
                </li>
                <li>
                    <a href="#Communities" data-localized="Communities"></a>
                </li>
                <li>
                    <a href="#ExamRecognitionTypes" data-localized="ExamRecognitionTypes"></a>
                </li>
                <li>
                    <a href="#ExamRecognitionTypeExamClasses" data-localized="ExamRecognitionTypeExamClasses"></a>
                </li>
                <li>
                    <a href="#ExamRooms" data-localized="ExamRooms"></a>
                </li>
                <li>
                    <a href="#ExamStations" data-localized="ExamStations"></a>
                </li>
                <li>
                    <a href="#ExamStationExamRecognitionTypes" data-localized="ExamStationExamRecognitionTypes"></a>
                </li>
                <li>
                    <a href="#Holidays" data-localized="Holidays"></a>
                </li>
                <li>
                    <a href="#ExamClasses" data-localized="ExamClasses"></a>
                </li>
                <li>
                    <a href="#HolidayOrdFederalStates" data-localized="HolidayOrdFederalStates"></a>
                </li>
                <li>
                    <a href="#Languages" data-localized="Languages"></a>
                </li>
                <li>
                    <a href="#ExamClassArgeMaps" data-localized="ExamClassArgeMaps"></a>
                </li>
                <li>
                    <a href="#LegalBases" data-localized="LegalBases"></a>
                </li>
                <li>
                    <a href="#ExamClassInclusiveClasses" data-localized="ExamClassInclusiveClasses"></a>
                </li>
                <li>
                    <a href="#ExamClassMaps" data-localized="ExamClassMaps"></a>
                </li>
                <li>
                    <a href="#ExamClassRequiredClasses" data-localized="ExamClassRequiredClasses"></a>
                </li>
                <li>
                    <a href="#ExamClassRestrictedClasses" data-localized="ExamClassRestrictedClasses"></a>
                </li>
                <li>
                    <a href="#ExamConstraints" data-localized="ExamConstraints"></a>
                </li>
                <li>
                    <a href="#MeetingPoints" data-localized="MeetingPoints"></a>
                </li>
                <li>
                    <a href="#ExamConstraintExamClasses" data-localized="ExamConstraintExamClasses"></a>
                </li>
                <li>
                    <a href="#MeetingPointOrganizationalUnits" data-localized="MeetingPointOrganizationalUnits"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
