<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li>
                    <a href="#MessageLocalizations" data-localized="MessageLocalizations"></a>
                </li>
                <li>
                    <a href="#CoreDataProducts" data-localized="CoreDataProducts"></a>
                </li>
                <li>
                    <a href="#ReturnReasons" data-localized="ReturnReasons"></a>
                </li>
                <li>
                    <a href="#ExamPossibleResults" data-localized="ExamPossibleResults"></a>
                </li>
                <li>
                    <a href="#SchoolInfos" data-localized="SchoolInfos"></a>
                </li>
                <li>
                    <a href="#ArgeVersions" data-localized="ArgeVersions"></a>
                </li>
                <li>
                    <a href="#Authorities" data-localized="Authorities"></a>
                </li>
                <li>
                    <a href="#Communities" data-localized="Communities"></a>
                </li>
                <li>
                    <a href="#ExamRecognitionTypes" data-localized="ExamRecognitionTypes"></a>
                </li>
                <li>
                    <a href="#DriverSchools" data-localized="DriverSchools"></a>
                </li>
                <li>
                    <a href="#ExamRooms" data-localized="ExamRooms"></a>
                </li>
                <li>
                    <a href="#ExamStations" data-localized="ExamStations"></a>
                </li>
                <li>
                    <a href="#Holidays" data-localized="Holidays"></a>
                </li>
                <li>
                    <a href="#ExamClasses" data-localized="ExamClasses"></a>
                </li>
                <li>
                    <a href="#Languages" data-localized="Languages"></a>
                </li>
                <li>
                    <a href="#LegalBases" data-localized="LegalBases"></a>
                </li>
                <li>
                    <a href="#ExamConstraints" data-localized="ExamConstraints"></a>
                </li>
                <li>
                    <a href="#MeetingPoints" data-localized="MeetingPoints"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
