<div class="tab-strip">
    <ul>
        <li class="k-state-active" data-localized="requiredExamClasses:a">requiredExamClasses</li>
        <li class="" data-localized="inclusiveExamClasses:a">inclusiveExamClasses</li>
        <li class="" data-localized="restrictedClasses:a">restrictedClasses</li>
        <li class="" data-localized="examClassArgeMaps:a">examClassArgeMaps</li>
        <li class="" data-localized="examClassMaps:a">examClassMaps</li>
    </ul>
    <div class="requiredExamClasses"><label data-localized="dataLoading"></label></div>
    <div class="inclusiveExamClasses"><label data-localized="dataLoading"></label></div>
    <div class="restrictedClasses"><label data-localized="dataLoading"></label></div>
    <div class="examClassArgeMaps"><label data-localized="dataLoading"></label></div>
    <div class="examClassMaps"><label data-localized="dataLoading"></label></div>
</div>
