<#@ template language="C#" debug="true" hostspecific="true" linePragmas="true"#>
<#@ output extension=".txt"#>
<#@ include file="..\..\..\..\Generation\MasterDataModule.Generation\TTMasterData\Drl.Settings.ttinclude" once="true"#>
<#
	var menuFileName = "DriverLicenceMasterData.html";
    const string filesDir = @"..\..\..\..\Generation\MasterDataModule.Generation\Declarations\";
#>
<#@ include file="..\..\..\..\Generation\MasterDataModule.Generation\TTMasterData\MasterData.GenerationContext.ttinclude" once="true"#>
<#@ include file="..\..\..\..\Generation\MasterDataModule.Generation\TTMasterData\Web\menu.template.ttinclude"  once="true"#>