<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li>
                    <a href="#EmpEmployees" data-localized="EmpEmployees"></a>
                </li>
                <li>
                    <a href="#InsCoreDataProducts" data-localized="InsCoreDataProducts"></a>
                </li>
                <li>
                    <a href="#OrgOrganizationalUnits" data-localized="OrgOrganizationalUnit"></a>
                </li>
            </ul>
        </td>
    </tr>
</table>